main {
    margin: 0.5rem 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

h1 {
    font-size: 3rem;
    color: white;   
    width: 90vw;
    animation: fadeIn2 2s ease;
    padding: 1rem 1rem;  
}

h3 {
    padding: 1rem 1rem 0;
}

p {
    margin: 1rem 1rem;
}

.hBox {
    background-color:rgb(50, 116, 124);
    border-radius: 1rem;
    max-width: 90vw;
    animation: slide 1.5s ease;
    margin: 1rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentBox {
    display: flex;
    flex-direction: column;
    width: 90vw;  
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.486);
    font-size: 1rem; 
    margin-bottom: 1rem;
 
    animation: fadeIn2 2s ease;
}

#cv {
    display: flex;
    margin-top: 1rem;
    padding: 1rem;
    color: rgb(148, 218, 208);
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 1rem;
    animation: fadeIn2 2s ease;
    background-color:rgb(50, 116, 124);
    transition: 0.8s;
}

#cv:hover {
    background-color: rgb(56, 143, 153);
    color: white;
}

.contentImage {
    max-width: 30%;
    border-radius: 30%;
    align-self: center;
    transition: 0.8s;
    padding-top: 1rem;
}

.contentImage:hover {
    max-width: 35%;
    border-radius: 20%;
    transition: 0.8s;
}

.blogImage {
    max-width: 40%;
    border-radius: 30%;
    align-self: center;
    transition: 0.8s;
    padding-top: 1rem;
    margin: auto;
}

.blogImage:hover {
    max-width: 43%;
    border-radius: 20%;
    transition: 0.8s;
}

.blogDate {
    color: rgb(50, 116, 124);
    padding-left: 1rem;
}

summary, h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imageRow {
    display: flex;
    justify-content: center;
}

#hobby1 {
    z-index: 1;
}

#hobby2 {
    margin-right: -10%;
    transform: rotate(-10deg);
}

#hobby3 {
    margin-left: -10%;
    transform: rotate(10deg);
}

#hobby2:hover, #hobby3:hover {
    margin: 0;
    transform: rotate(0deg);
}

details {
    display: flex;
    flex-direction: column;
    transition: height 1s ease;
    overflow: hidden;
    padding: 1rem;
    transition: 0.8s;
    border-radius: 1rem;
}

details:hover {
    background-color: rgb(226, 236, 231);
}

details:not([open]) {
    height: 4rem;
}

details[open] {
    height: 30rem;
}