* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Monsterrat', sans-serif;
}

body {
    display:flex;
    flex-direction: column;
    overflow-x: hidden;
    min-height: 100vh;
    /* Background gradient */
    background: linear-gradient(-45deg, #598884, #7dc5bf, #86bdc5, #51818a);
	background-size: 400% 400%;
	animation: gradient 10s ease-out infinite;
}

main, section {
    margin: 0.5rem 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

a {
    text-decoration: none;
}

/* COMPONENT: Nav bar */
nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    padding: 1rem 0.2rem;
    background-color: rgb(50, 116, 124);
    position: fixed;
}

nav a {
    display: inline-flex;
    align-items: center;
    font-size: 0.8rem;
    text-wrap: nowrap; 
    margin: 0 0.4rem;
    color: rgb(148, 218, 208);
    animation: fadeIn3 2.5s;
    transition: 0.5s;    
}

nav a:hover {
    color: white;
}

/* COMPONENT: Social links bar */
header, #socialBanner {
    animation: fadeIn2 2s; 
}

address a {
    margin: 0 1rem;
    font-style: normal;
}

.socialBanner {
    background-color:rgb(56, 143, 153);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 4rem 0.5rem 0.5rem;    
}

.socialBanner a {
    display: flex;
    align-items: center;
    animation: fadeIn3 2.5s;
    font-size: 0;
    color: white;
    transition: 0.3s ease-out;
}

.socialBanner i {
    font-size: 2.5rem;
}

.socialLogo {
    max-height: 2rem;
    transition: 0.3s;
}

.socialLogo:hover {
    transform: scale(1.25);
}

.socialBanner a:hover {
    font-size: 1rem;
}

/* Text formatting */
h1 {
    font-size: 3rem;
    color: white;   
    width: 90vw;
    animation: fadeIn2 2s ease-out;
    padding: 1rem 1rem;  
}

p {
    padding: 1rem;
}

/* Icon formatting */
i {
    margin: 0 0.3rem;
}

/* Footer formatting */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding-bottom: 1rem;
    color: rgb(50, 116, 124);
    transition: 0.8s;
    min-height: 2.5rem;
}

footer i {
    animation: pulse 2s infinite;
}

/* BREAKPOINT: For tablet view */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
    section, section > *, section h1, section h3 {
        max-width: 90vw;
    }   
    
    nav a {
        font-size: 1.25rem;
    }

    nav a i.material-symbols-outlined {
        font-size: 2.5rem;
    }

    .socialBanner {
        padding: 5rem 0.5rem 0.5rem;  
    }

    .socialBanner i {
        font-size: 3rem;
    }

    .socialLogo {
        max-height: 2.5rem;
        transition: 0.3s;
    }
    
    .socialBanner a:hover {
        font-size: 1.5rem;
    }

    section .blogImage {
        max-width: 30%;
    }

    section .blogImage:hover {
        max-width: 33%;
    }

    section details[open] {
        height: 30rem;
    }
}

/* BREAKPOINT: For desktop view */
@media only screen and (min-width: 1025px) {

    section, section > *, section h1, section h3, section p, section ul, section li {
        max-width: 1025px;
    }    

    nav a {
        font-size: 1.25rem;
    }

    nav a i.material-symbols-outlined {
        font-size: 2rem;
    }

    .socialBanner {
        padding: 4.5rem 0.5rem 0.5rem;  
    }
    
    .socialBanner a:hover {
        font-size: 1.5rem;
    }

    section details[open] {
        height: 36rem;
    }

    .contentImage {
        max-width: 35%;
        border-radius: 35%;
        align-self: center;
        transition: 0.8s;
        padding-top: 1rem;
    }
    
    .contentImage:hover {
        max-width: 40%;
        border-radius: 20%;
        transition: 0.8s;
    }
}
