/* Delete before publishing */
#fiveserver-info-wrapper {
    display: none !important;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Monsterrat', sans-serif;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0.2rem;
    min-width: 3rem;
    background-color: rgb(50, 116, 124);
    position: fixed;
    width: 100vw;
       
}

header, #socialBanner {
    animation: fadeIn2 2s; 
}

nav a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    text-wrap: nowrap; 
    margin: 0 0.6rem;
    color: rgb(148, 218, 208);
    animation: fadeIn2 2.5s;
    transition: 0.5s;    
}

nav a:hover {
    color: white;
}

.socialBanner a {
    animation: fadeIn2 2.5s;    
}

i {
    margin: 0 0.3rem;
}
.socialLogo {
    max-height: 2rem;
    transition: 0.3s;
}

.socialLogo:hover {
    max-height: 2.5rem;
}

section a {
    margin: 0 1rem;
}

.socialBanner {
    background-color:rgb(56, 143, 153);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 4rem 0.5rem 0.5rem;    
}

body {
    background-color: rgb(131, 182, 178);
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}


footer {
    display: flex;
    justify-content: center;
    margin: 3rem 0 1rem 0;
}

