/* Delete before publishing */
#fiveserver-info-wrapper {
    display: none !important;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Monsterrat', sans-serif;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0.2rem;
    width: 100%;
    background-color: rgb(50, 116, 124);
    position: fixed;
}

header, #socialBanner {
    animation: fadeIn2 2s; 
}

nav a {
    display: inline-flex;
    align-items: center;
    font-size: 0.8rem;
    text-decoration: none;
    text-wrap: nowrap; 
    margin: 0 0.4rem;
    color: rgb(148, 218, 208);
    animation: fadeIn3 2.5s;
    transition: 0.5s;    
}

nav a:hover {
    color: white;
}

.socialBanner a {
    display: flex;
    align-items: center;
    animation: fadeIn3 2.5s;
    font-size: 0;
    text-decoration: none;
    color: white;
    transition: 0.3s ease-out;
}

.socialBanner img {
    margin-right: 0.5rem;
}

i {
    margin: 0 0.3rem;
}
.socialLogo {
    max-height: 2rem;
    transition: 0.3s;
}

.socialLogo:hover {
    max-height: 2.5rem;
}

.socialBanner a:hover {
    font-size: 1rem;
}

address a {
    margin: 0 1rem;
    font-style: normal;
}

.socialBanner {
    background-color:rgb(56, 143, 153);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 4rem 0.5rem 0.5rem;    
}

body {
    background-color: rgb(131, 182, 178);
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding-bottom: 1rem;
    color: rgb(50, 116, 124);
    transition: 0.8s;
    min-height: 2.5rem;
    
}

footer i {
    animation: pulse 2s infinite;
}

/* For tablets */
@media only screen and (min-width: 600px) and (max-width: 1279px) {
    nav a {
        font-size: 1.25rem;
    }

    nav a i.material-symbols-outlined {
        font-size: 3rem;
    }

    .socialBanner {
        padding: 5.5rem 0.5rem 0.5rem;  
    }

    .socialLogo {
        max-height: 2.5rem;
        transition: 0.3s;
    }
    
    .socialLogo:hover {
        max-height: 3rem;
    }
    
    .socialBanner a:hover {
        font-size: 1.5rem;
    }

    section .blogImage {
        max-width: 30%;
    }

    section .blogImage:hover {
        max-width: 33%;
    }

    section details[open] {
        height: 30rem;
    }
}

/* For PC */
@media only screen and (min-width: 1280px) {

    section, section > *, section h1, section h3 {
        max-width: 1000px;
    }   

    nav a {
        font-size: 1.25rem;
    }

    nav a i.material-symbols-outlined {
        font-size: 2rem;
    }

    .socialBanner {
        padding: 4.5rem 0.5rem 0.5rem;  
    }

    .socialLogo {
        max-height: 2rem;
        transition: 0.3s;
    }
    
    .socialLogo:hover {
        max-height: 2.5rem;
    }
    
    .socialBanner a:hover {
        font-size: 1rem;
    }

    section details[open] {
        height: 35rem;
    }
}
